/*1. HEADER*/

/* Add a grey background color to the header */

.topnav {
    background-color: #000000;
    overflow: hidden;
}
/*Aligning and positioning the IITKGP logo*/

.topnav img{
    float :left;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
}
/* Styling the header text at the top */

#dept{
    font-size: 40px;
    font-family: "Roboto",sans-serif;
}
#math{
    font-size: 40px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;    
}
#iit{
    font-size: 20px;
    font-family: "Roboto",sans-serif;    
}

/*Putting the vertical line, and positioning and aligning the text*/

.topnav .text1{
    border-left: 2px solid white;
    height: 120px;
    position: relative;
    margin-left: 20px;
    margin-top: 13px;
    margin-bottom: 13px;
    float: left;
    color: white;
    text-align: left;
    padding: 10px 40px;
    text-decoration: none;
}

.topnav::after{
    clear: both;
}


    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      color:#696969;
      background-color: #333333;
      margin-bottom: 0;
      border-radius: 0;
      border: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      overflow: hidden;
      font-family: Arial, Helvetica, sans-serif;
      width: 100%;
      position: fixed;
      bottom: 0;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
#more {
  display : none;

}

/* Styling and positioning the links inside the navigation bar */

.nav.navbar-nav>li>a{
    color: #ddd;
    font-family: "Roboto",sans-serif;
    padding: 15px;
}

/* Changing of the background color of links that are hovered upon*/

.nav.navbar-nav>li>a:hover, #stud:hover{
    background-color: #595959;
}

/*Changing of the background color of link that is active*/
    
.active{
    background-color:black;
    color: white;
}

/*3. DROPDOWN (made using BOOTSTRAP)*/

/*Styling the "Students' Corner button*/

.dropbtn {
    background-color: #333333;
    color : #ddd;
    font-family: "Roboto",sans-serif;
    padding: 15px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#f2f2f2;
    min-width: 132px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #000000;
    color:#f2f2f2;}

/* Show the dropdown menu on hover */

.dropdown:hover, #stud:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover, #stud:hover .dropbtn {
    background-color: #595959;
    color:#f2f2f2;
}

div .col-sm-8{
    margin-top: 30px;
}

img .image{ 
    max-width: 100%;
    height: auto;
    width: auto\9;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed)*/

.row.content {height:auto;}
    
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}
#more {
    display : none;
}


/* Style the links inside the navigation bar
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
*/
/*********************************************************************************************/
/* SlideShow*/


.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/***************************************************************************/


/***************************************************************************/
/*social media button*/
.fa {
  padding: 12px;
  font-size: 30px;
  width: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook:hover {
    opacity: 0.7;	  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;

  width: 10px;
  height: 10px;
  border: 1px solid #383FA5;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/******************************************************************************/

table{
  width:100%;
}
td{
  padding:10px;
}

.search_prof{
  width: 100%;
}

/* Sidebar */

#sidebar {
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

#sidebar-list {
	text-align: left;
	list-style: none;
	padding-left: 0px;
}

#sidebar-list .sidebar-item {
	padding: 10px;
	border-left: 3px #b8b6b6 solid;
	margin-bottom: 10px;
}

#sidebar-list .sidebar-item:hover {
	background-color: #bdbdbd;
	border-left: 3px #333333 solid;
	color: whitesmoke;
	cursor: pointer;
}